@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    overflow: scroll;
    margin: 0;
    display: flex ;
    flex-direction: column;
}






h2 {
    text-align: center;
    color: #1f2937
}

.container-2 {
    display: flex;
    flex: 1;
    justify-content: space-around;
    text-align: center;
    white-space: pre;
}

.card {
    border: 5px, rgb(9, 9, 241);
    padding: 40px;
}


 .container {
    display: flex;
    padding: 60px;
    justify-content: space-evenly;
    
}

img {
    padding: 20px;
    width: 250px;
    height: 250px;
}



.hero , p {
    width: 500px;
    color: #E5E7EB;
    font-size : 18px;
    
    
}

.hero ,h1 {
    color: #F9FAF8;
}






button {
    font-family: roboto, sans-serif;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-size: 15px;
    display: flex;
    padding:  10px;
    
}



.header , .footer , .container {
    background-color: #1f2937;
    
}



.header {
    display:flex;
    justify-content: space-around;
    padding-top: 10px;
    
    
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul, a {
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 15px;
    text-decoration: none;
    margin: 0;
    
}
